* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./images/back.jpg");
    background-size: 100%;

}

#nav {
    width: 100%;
    background-color: #356388;
    margin: 0;
    font-size: larger;
}
#home,#gr{
    width: 80%;
    margin: 0 auto;
}

#main {
    border: solid rgba(46, 79, 136, 0.62) 4px;
    border-bottom: hidden;
    color: #677f88;
    background-color: #d1d0c7;
    width: 80%;
    margin: 0 auto;
}

#main h1 {
    vertical-align: middle;
    margin: 0 5%;
    padding: 30px;
    font-family:"微软雅黑","宋体";
}

/*#GraduationRequirements {*/
    /*display: table;*/
    /*width: 200px;*/
    /*height: 50px;*/

/*}*/

/*#GraduationRequirements p {*/
    /*display: table-cell;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
/*}*/

/*#ExaminationPlan {*/
    /*display: table;*/
    /*width: 200px;*/
    /*height: 50px;*/

/*}*/

/*#ExaminationPlan p {*/
    /*display: table-cell;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
/*}*/

/*#sg1, #exam-main {*/
    /*margin-top: 40px;*/
/*}*/

/*!*graduationRequirments页面*!*/
/*#gr, #gr h1 {*/
    /*margin-top: 0;*/
/*}*/

/*#gr-title {*/
    /*color: #d18783;*/
    /*background-color: #d1bd9d;*/
    /*height: 100px;*/
/*}*/

/*#gr-in {*/
    /*width: 600px;*/
    /*margin-top: 20px;*/
    /*margin-left: 600px;*/
/*}*/

/*#gr-main, #plan-input {*/
    /*margin-top: 20px;*/
/*}*/

/*#gr-main select, #gr-main button {*/
    /*margin-right: 15px;*/
    /*margin-left: 20px;*/
/*}*/

/*#plan-main {*/
    /*width: 600px;*/
    /*!*height: 500px;*!*/
    /*background-color: #d1c5b8;*/
    /*margin: 20px auto;*/
    /*padding: 10px;*/
/*}*/

/*#plan-main input {*/
    /*margin-right: 30px;*/
    /*margin-top: 30px;*/
/*}*/

/*#plan-submit {*/
    /*display: block;*/
    /*width: 200px;*/
    /*height: 50px;*/
    /*margin: 20px auto;*/
/*}*/

/*#modal button,.info{*/
    /*margin: 20px;*/
/*}*/

/*.modal-content{*/
    /*background-color: #d1c5b8;*/
/*}*/
.container{
    width: 70%;
    margin: 20px 30%;
}
.container img{
    width: 100%;
    height: 100%;
}
.container ul li{
    height: 100%;
    list-style: none;
    width: 100%;
    list-style: none;
    position: absolute;
}

.container ul {
    width: 100%;
    height: 280px;
    position: relative;
    overflow: hidden;
}

@keyframes pic_1{
    0% {opacity: 1;}
    25% { opacity: 1;}
    26% { opacity: 0;}
    40% { opacity: 0;}
    91% { opacity: 0;}
    100% { opacity: 1;}
}

@-webkit-keyframes pic_2 {
    0% { opacity: 0;}
    25% { opacity: 0;}
    26% { opacity: 1;}
    60% { opacity: 1;}
    61% { opacity: 0;}
    100% { opacity: 0;}
}
@-webkit-keyframes pic_3 {
    0% { opacity: 0;}
    60% { opacity: 0;}
    61% { opacity: 1;}
    91% { opacity: 1;}
    100% { opacity: 0;}
}
#first {
    animation: pic_1 15s infinite;
}

#second{
    animation: pic_2 15s infinite;
}

#third{
    animation: pic_3 15s infinite;

}

.left{
    width: 20%;
    background-color: #d1d1bf;
    position: absolute;
    float: left;
    margin-top: 40px;
    color: white;
}
.tip{
    width: 80%;
    height: 40px;
    margin: 40px auto;
    background-color: #576c7c;
    border-radius: 4%;
}

#logo{
    width: 5%;
    position: absolute;
    float: left;
}

.dingwei{
    position: absolute;
    float: left;
}

.dingwei img{
    width: 20px;
}
.data{
    display: inline-block;

    width: 100%;
    height: 350px;
    overflow: auto;
}
table{
    margin-top: 30px;
    background-color: #d1c792;
}

.addright{
    width: 40%;
    height: 40px;
    margin-right: 10%;

}